

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  text-align:center;
  margin-bottom: 5%;
  margin-top: 5%;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.card .card-header {
  border-bottom-color: beige;
  text-align: right;
  line-height: 30px;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
  padding: 10px 25px;
  align-items: center;
}

.card .card-header,
.card .card-body,
.card .card-footer {
  background-color: transparent;
  padding: 20px 25px;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.table-rwd {
  font-size: 0.85em;
  border: 1px solid rgba(167, 171, 185, 0.5);
  color: #666;
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.table-rwd td,
.table-rwd th {
  padding: 0.8em;
  text-align: center;
  border-bottom: 1px solid rgba(167, 171, 185, 0.5);
}

.table-rwd tr td:nth-child(1n) {
  background: rgba(167, 184, 204, 0.2);
}

.table-container {
  overflow-x: auto;
}

.table-rwd {
  min-width: 1060px;
}

.table-rwd tr:hover td {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.table-rwd th {
  text-align: center;
  word-wrap: break-word;
  height: fit-content;
  font-size: x-small;
  background: #4a867c;
  color: #fff;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

#addTaskButton {
  margin-left: 57%;
}

@media (max-width: 1200px) {
  #addTaskButton {
    margin-left: 48%;
  }
  .table-rwd {
    min-width: 880px;
  }
}

@media (max-width: 991px) {
  #addTaskButton {
    margin-left: 39%;
  }
  .table-rwd {
    min-width: 635px;
  }
}

@media (max-width: 767px) {
  #addTaskButton {
    margin-left: 39%;
  }
  .table-rwd {
    min-width: 460px;
  }
}

@media (max-width: 576px) {
  #addTaskButton {
    margin-left: 0%;
    margin-top: 15px;
  }
  #logOutButton {
    margin-right: 5%;
  }
  .table-rwd {
    min-width: 465px;
  }
}

